@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
}

.base {
  height: 100vh;
  width: 100vw;

  background-color: #060026;

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatorContainer {
  height: 100%;
  max-height: 500px;

  width: 100%;
  max-width: 600px;

  padding: 20px;

  border-radius: 4px;

  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 50px);
  grid-template-areas:
    "display display display display"
    "ac ac divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";

  background: rgb(148, 148, 148);
}

.display {
  grid-area: display;
  border: solid black 1px;
  border-radius: 3px;
  background: white;

  padding: 10px;

  display: grid;
  justify-content: end;
  align-content: center;

  font-weight: bold;
  font-size: 2rem;
  overflow: hidden;
  color: black;
}

.gridItem {
  display: grid;
  justify-content: center;
  align-content: center;

  font-weight: bold;
  font-size: 1.5rem;

  cursor: pointer;
  color: white;
  border-radius: 3px;

  box-shadow: 0px 4px 5px black;
}

/* Numbers */
.numberButton {
  background-color: #242424;
}

#nine {
  grid-area: nine;
}

#eight {
  grid-area: eight;
}

#seven {
  grid-area: seven;
}

#six {
  grid-area: six;
}

#five {
  grid-area: five;
}

#four {
  grid-area: four;
}

#three {
  grid-area: three;
}

#two {
  grid-area: two;
}

#one {
  grid-area: one;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

/* Start Operators */

.operatorButton {
  background-color: #d62828;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

/* Clear And Equals */
#clear {
  grid-area: ac;
  background-color: #e5e5e5;
  color: black;
}

#equals {
  background-color: #f77f00;
  grid-area: equals;
  font-size: 3rem;
}

.gridItem:hover {
  background: rgb(255, 162, 177);
  transition: 300ms;
}
